<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Booklistapp in Node.js and Express</title>
  </head>
  <body>
    <h1>Books</h1>

    <ul>
      <% books.forEach(function(book) { %>
        <li>
          <%= book.title %>
          <a href="/delete-book/<%= book.id %>">delete</a>
        </li>
      <% }); %>
    </ul>

    <form action="/create-book" method="POST">
      <input type="text" name="title">
      <input type="submit" value="Add">
    </form>
  </body>
</html>
