<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Booklistapp in Python and Django</title>
  </head>
  <body>
    <h1>Books</h1>

    <ul>
      {% for book in books %}
        <li>
          {{ book.title }}
          <a href="{% url 'delete' book.id %}">delete</a>
        </li>
      {% endfor %}
    </ul>

    <form method="POST" action="{% url 'create' %}">
      <input type="text" name="title">
      <input type="submit" value="Add">

      {% csrf_token %}
    </form>
  </body>
</html>
